#filterCurrency {
    width: 202px;
    height: 70px;
    color: #2196f3;
    font-family: OpenSans;
    font-size: 12px;
    font-style: normal;
    font-stretch: normal;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0px;
  }
#currencyText {
    width: 54px;
    height: 19px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-stretch: normal;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0px;
  }
  .radio_buttons {
    margin: 20px;
    font: 14px Tahoma;
}
.radio_buttons div {
    float: left;
}
.radio_buttons input {
    position: absolute;
    left: -9999px;
}
.radio_buttons label {
    display: block;
    margin: 0 0 0 -1px;
    padding: 8px 10px;
    border: 1px solid #BBBBBB;
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .12);
    cursor: pointer;
}
.radio_buttons input:checked + label {
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, .2);
    background: #2196f3;
    color: white;
}
.radio_buttons input:hover + label {
    border: 1px solid #64b5f5;
    background: #f2fcff;
    color: #2196f3;
}
.radio_buttons div:first-child label {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.radio_buttons div:last-child label {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.checkbox_button {
    width: 232px;
    height: 201px;
    color: #2196f3;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-stretch: normal;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    letter-spacing: 0px;
  }